@mixin menu-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  color: $basic-font-color;
  line-height: 19px;
}

@mixin container {
  width: 1170px;
  margin: 0 auto;
}

@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin thin-text {
  font-size: 12px;
  line-height: 16.8px;
}

@mixin link {
  text-decoration: none;
  color: $basic-font-color;
  &:hover {
    color: $highlight-color;
  }

  &:active,
  &:focus {
    color: $dark-highlight-color;
  }
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
